@tailwind base;
@tailwind components;
@tailwind utilities;

.HelvR{
  font-family: HelvR !important;
}
.HelvM{
  font-family: HelvM !important;
}
.HelvB{
  font-family: HelvB !important;
}

.preLoader svg path,
.preLoader svg rect{
  fill: #6366F1;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.svg-rotate {
  animation: rotate 0.6s linear infinite;
}

.rightBar::-webkit-scrollbar,
.sidebar::-webkit-scrollbar,
.scrollbar-hide::-webkit-scrollbar,
.mini-sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar,
.rightBar,
.scrollbar-hide,
.mini-sidebar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
